body {
    font-family: 'Roboto', sans-serif;
}
.container-header {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

}
li {
    display: inline-block;
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    font-weight: 700;

}

.top-page {
    background-color: #1F2937;
    padding-left: 180px;
    padding-top: 8px;
    padding-right: 180px;
}

.top-page h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
    width:350px;
    margin: 0;
}

.top-page p {
    width:420px;
    margin: 0;
}
.container-hero {
    margin-top: 92px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.myimage, .top-page p, button {
    font-size: 18px;
    color: #E5E7EB;

}


button {
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 12px;
    width: 140px;
    margin-top: 8px;
}