body {
    font-family: 'Roboto', sans-serif;
}
.container-header {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

}
li {
    display: inline-block;
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    font-weight: 700;

}

.top-page {
    background-color: #1F2937;
    padding-left: 180px;
    padding-top: 8px;
    padding-right: 180px;
}

.top-page h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
    width:350px;
    margin: 0;
}

.top-page p {
    width:420px;
    margin: 0;
}
.container-hero {
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 350px;
    height: 340px;
}
.myimage, .top-page p, button {
    font-size: 18px;
    color: #E5E7EB;

}

.container-hero-text {
    display: flex;
    flex-direction: column;
}

.placeholder {
    flex-wrap: wrap;
    height: 220px;
    width: auto;
    background-color: #747678;
}

.placeholder p {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    margin-top: 110px;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: extra-bold;
}
.images-subtext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.images-subtext div {
    width: 150px;
    
}

.images-subtext img {
    width:150px;
    height: 150px;
    border: 2px solid rgb(57, 84, 204);
    border-radius: 12px;
}

.imgages-subtext p {
    text-align: center;
}
button {
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 12px;
    width: 140px;
    margin-top: 8px;
}